<div class="footer-component">
	<div class="container">
		<div class="row">
			<div class="col-4 company">
				<h4>COMPANY</h4>

				<div class="items">
					<span>About</span>
					<span>Contact</span>
				</div>
			</div>

			<div class="col-8">
				<h4>CONNECT WITH US</h4>

				<div class="social-icons">
					<span class="fb">
						<i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
					</span>

					<span class="twitter">
						<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
					</span>

					<span class="g+">
						<i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
					</span>
				</div>
			</div>				
		</div>
	</div>
</div>