<div class="footer-component">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-4 company">
				<h4>COMPANY</h4>

				<div class="items">
					<span>
						<a routerLink="/home/about">About</a>
					</span>
					<span>
						<a routerLink="/home/contact-us">Contact</a>
					</span>
					<span>
						<a routerLink="/home/how-it-works">How It Works</a>
					</span>
				</div>
			</div>

			<div class="col-xs-12 col-lg-4 social">
				<h4>CONNECT WITH US</h4>

				<div class="social-icons">
					<span class="fb">
						<a href="https://www.facebook.com/Digipawnnowcom-331256644014950/" target="_blank">
							<i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
						</a>
					</span>

					<span class="twitter">
						<a href="https://twitter.com/DigiPawnNow" target="_blank">
							<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
						</a>
					</span>

					<span class="g+">
						<a href="https://www.instagram.com/digipawnnow/" target="_blank">
							<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
						</a>
					</span>
				</div>

				<div class="trademark">digipawnnow.com 2017 &#169;</div>
			</div>	

			<div class="col-xs-12 col-lg-4 legal">
				<h4>LEGAL</h4>

				<div class="legal-items">
					<span>
						<a routerLink="/home/terms-and-condition">Terms & Conditions</a>
					</span>
					<span>
						<a routerLink="/home/privacy-policy">Privacy Policy</a>
					</span>
				</div>
			</div>				
		</div>
	</div>
</div>