.footer-component{
	background-color: #ecebec;
	color: #55504D;
	padding: 20px;
	border-top: 1px solid #c8ced3;

	a{
		color: #56514e;
	}

	a:hover{
		text-decoration: none;
	}

	h4{
		font-weight: 200;
	}

	.social, .company, .legal{
		margin-bottom: 40px;
	}

	.company{
		.items{
			display: flex;
			flex-direction: column;

			a{
				color: #56514e;
			}

			a:hover{
				text-decoration: none;
			}
		}
	}

	.social-icons{
		span{
			margin-right: 30px;

			i{
				cursor: pointer;
			}

			a{
				color: #56514e;
			}

			a:hover{
				text-decoration: none;
			}
		}
	}

	.trademark{
		margin-top: 40px;
	}

	.legal-items{
		display: flex;
		flex-direction: column;
	}
}