.footer-component{
	background-color: #ecebec;
	color: #55504D;
	padding: 20px;

	h4{
		font-weight: 200;
	}

	.company{
		.items{
			display: flex;
			flex-direction: column;
		}
	}

	.social-icons{
		span{
			margin-right: 30px;

			i{
				cursor: pointer;
			}
		}
	}

	.trademark{
		margin-top: 40px;
	}

	.legal-items{
		display: flex;
		flex-direction: column;
	}
}