<div class="footer-component">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-4 company">
				<h4>COMPANY</h4>

				<div class="items">
					<span>About</span>
					<span>Contact</span>
					<span>How It Works</span>
				</div>
			</div>

			<div class="col-xs-12 col-lg-4 social">
				<h4>CONNECT WITH US</h4>

				<div class="social-icons">
					<span class="fb">
						<i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
					</span>

					<span class="twitter">
						<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
					</span>

					<span class="g+">
						<i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
					</span>
				</div>

				<div class="trademark">digipawnnow.com 2017 &#169;</div>
			</div>	

			<div class="col-xs-12 col-lg-4 legal">
				<h4>LEGAL</h4>

				<div class="legal-items">
					<span>Terms & Conditions</span>
					<span>Privacy Policy</span>
				</div>
			</div>				
		</div>
	</div>
</div>