<div class="dialog">
	<h2>Adding new {{item}}</h2>

	<form #f="ngForm">
		<div class="form-group">
			<label>Product Name</label>
			<input type="text" name="product-name" [(ngModel)]="productName" required>
		</div>

		<div class="form-group" *ngIf="!type">
			<label>UPC Code</label>
			<input type="text" name="upc-code" [(ngModel)]="upcCode">
		</div>
	
	
		<div class="form-group" *ngIf="category === 'cell-phones'">
			<label>Carrier</label>
			<input type="text" name="carrier" [(ngModel)]="carrier" required>
		</div>

	<!--
		<div class="form-group" *ngIf="type">
			<label>Condition</label>
			<input type="text" name="condition" placeholder="good, poor or faulty" [(ngModel)]="condition" required>
		</div>
	-->

		<div class="form-group condition-and-value">

			<div class="condition-container">
				<label class="condition-subheader">Condition</label>
				
				<label>New</label>

				<label>Good</label>

				<label *ngIf="category === 'cell-phones'">Poor</label>
			</div>
			
			<div class="value-container">
				<label class="value-subheader">Price</label>
				<input type="number" name="newPrice" [(ngModel)]="prices.new" required>
				<input type="number" name="goodPrice" [(ngModel)]="prices.good" required>
				<input *ngIf="category === 'cell-phones'" type="number" name="poorPrice" [(ngModel)]="prices.poor" required>
			</div>
		</div>

		<div class="form-group" *ngIf="type">
			<label>Image URL</label>
			<input type="text" name="image-url" [(ngModel)]="imageUrl" required>
		</div>

		<div class="save-button-container">
			<button class="btn" (click)="saveItem([productName, upcCode, carrier, prices, imageUrl, true])" [disabled]="!f.form.valid">SAVE</button>
		</div>
	</form>
</div>