<div class="admin-database">
	
	<div class="categories">
		
<!--		
		<div class="category dvd">
			
			<div class="header">
				<span class="title">DVD</span>

				<button class="btn" (click)="showDialog('', false, 'dvd');">ADD</button>
			</div>

			<div class="items">
				<div class="item-info sub-header">
					<span>Name</span>
					<span>UPC</span>
					<span>Price</span>
				</div>

				<div class="item" *ngFor="let item of cd | async">
					<div class="item-info">
						<span>{{item.data.id}}</span>
						<span *ngIf="item.data.upc">{{item.data.upc}}</span>
						<span>${{item.data.price}}</span>
					</div>

					<span class="actions">
						<i (click)="editDialog(item, 'cd')">Edit</i>
						<i (click)="delete('cd', item)">Delete</i> 
					</span>
				</div>
			</div>
		</div>
-->		

		<div class="category cell-phones">
			<div class="header">
				<span class="title">Cell Phones</span>

				<button class="btn" (click)="showDialog('', true, 'cell-phones');">ADD</button>
			</div>

		<!--
			<div class="items">
				<div class="item-info sub-header">
					<span>Name</span>
					<span>Condition</span>
					<span>Price</span>
				</div>

				<div class="item" *ngFor="let cell of cellPhones | async">
					<div class="item-info">
						<span>{{cell.data.name}}</span>
						<span *ngFor="let price of cell.data.prices | keys">{{price}}</span>
						<span>${{cell.data.price}}</span>
					</div>

					<span class="actions">
						<i (click)="editDialog(cell, 'cell-phones')">Edit</i>
						<i (click)="delete('cell-phones', cell)">Delete</i>
					</span>
				</div>
			</div>
		-->

			<table class="pricing-table">
				
				<tr class="sub-header">
					<th>Name</th>
					<th>Carrier</th>
					<th>New</th>
					<th>Good</th>
					<th>Poor</th>
				</tr>

				<tr *ngFor="let cell of cellPhones | async">
					<td>{{cell.data.name}}</td>
					<td>{{cell.data.carrier}}</td>
					<td >${{cell.data.prices.new}}</td>
					<td >${{cell.data.prices.good}}</td>
					<td >${{cell.data.prices.poor}}</td>
					<td class="actions">
						<i (click)="editDialog(cell, 'cell-phones')">Edit</i>
						<i (click)="delete('cell-phones', cell)">Delete</i>
					</td>
				</tr>
			</table>

		</div>

		<div class="category electronics">
			<div class="header">
				<span class="title">Electronics</span>

				<button class="btn" (click)="showDialog('', true, 'electronics');">ADD</button>
			</div>

<!--
			<div class="items">
				<div class="item-info sub-header">
					<span>Name</span>
					<span>Condition</span>
					<span>Price</span>
				</div>

				<div class="item" *ngFor="let elec of electronics | async">
					<div class="item-info">
						<span>{{elec.data.name}}</span>
						<span>{{elec.data.condition}}</span>
						<span>${{elec.data.price}}</span>
					</div>

					<span class="actions">
						<i (click)="editDialog(elec, 'electronics')">Edit</i>
						<i (click)="delete('electronics', elec)">Delete</i>
					</span>
				</div>
			</div>
-->

			<table class="pricing-table">
				
				<tr class="sub-header">
					<th>Name</th>
					<th>New</th>
					<th>Good</th>
				</tr>

				<tr *ngFor="let cell of electronics | async">
					<td>{{cell.data.name}}</td>
					<td >${{cell.data.prices.new}}</td>
					<td >${{cell.data.prices.good}}</td>
					<td class="actions">
						<i (click)="editDialog(cell, 'electronics')">Edit</i>
						<i (click)="delete('electronics', cell)">Delete</i>
					</td>
				</tr>
			</table>
		</div>

	</div>
</div>