<div class="admin-messages">
	<div *ngIf="messages$|async; let messages">
	<!--
		<div *ngFor="let msgs of messages">
			<div *ngFor="let msg of msgs | keys">
				{{msg | json}}
			</div>
		</div>
	-->

		<!-- Repeat this for each message -->
		<div class="message-summary-container" *ngFor="let messageThread of messages">
			
			<!--{{messageThread.messages | json}}-->

			<!-- Repeat this for each message in messages --> 
			
			<div class="message-summary" *ngFor="let msg of messageThread.messages | keys; let last = last; let user = '';" (click)="getThreadDetails(messageThread.messages)">

				<div class="name-and-date" *ngIf="last">
					<!-- Show this if admin -->
					<span class="sender-name" *ngIf="msg.from === 'admin'">{{msg.from}}</span>
					
					<!-- Show this if user -->
					<span class="sender-name" *ngIf="msg.from !== 'admin'">{{msg.username}}</span>

					<span class="time">{{msg.timeSent | date: 'short'}}</span>

					<!-- For when user sent the last message in thread -->
					<!--
						<span class="sender-name" *ngIf="msg.from !== 'admin'">{{msg.from | usernamePipe}}</span>
						<span class="time" *ngIf="msg.from !== 'admin'">{{msg.timeSent | date: 'short'}}</span>
					-->
				</div>

				<div class="message-and-cta" *ngIf="last">
					<span class="last-message">{{msg.message}}</span>
					<button class="btn" (click)="getThreadDetails(messageThread.messages)">View Message</button>
				</div>
			</div>
		
		</div>

	</div>

</div>