<div class="orders" *ngIf="order; else loading">
	<div class="order-container">

		<div class="row1">
			
			<span>{{order.payload.val().dateCreated | date: 'shortDate'}}</span>

			<span>{{order.payload.val().status}}</span>

			<button class="btn print-shipping-label" (click)="printShippingLabel();">Print Shipping Label</button>
		</div>

		
		<div class="row2" *ngFor="let orderItem of order.payload.val().orderItems">
			<img [src]="orderItem.imageUrl">

			<span class="order-name">{{orderItem.name}}</span>

			<span class="item-price">${{orderItem.price}}</span>
		</div>

		<div class="payment-method">
			<span id="text">Total Value</span>
			
			<span class="value" *ngIf="order.payload.val().payment.currency === 'USD'">${{order.payload.val().payment.value}}</span>
			<span class="value" *ngIf="order.payload.val().payment.currency === 'BTC'">BTC{{order.payload.val().payment.value}}</span>
			<span class="value" *ngIf="order.payload.val().payment.currency === 'ETH'">ETH{{order.payload.val().payment.value}}</span>
			<span class="value" *ngIf="order.payload.val().payment.currency === 'LTC'">LTC{{order.payload.val().payment.value}}</span>
		</div>

	</div>

</div>