<div class="orders-component">
	
	<!-- Repeat for all orders --> 
	<div class="orders" *ngIf="items$ | async; let orders; else loading">
		<div class="order-container" *ngFor="let order of orders" (click)="getOrder(order);">

			<span>{{order.payload.val().dateCreated | date: 'shortDate'}}</span>

			<span>{{order.payload.val().status}}</span>

			<div class="payment-method">
				<span id="text">Total Value: </span>
				
				<span class="value" *ngIf="order.payload.val().payment.currency === 'USD'">${{order.payload.val().payment.value}}</span>
				<span class="value" *ngIf="order.payload.val().payment.currency === 'BTC'">BTC{{order.payload.val().payment.value}}</span>
				<span class="value" *ngIf="order.payload.val().payment.currency === 'ETH'">ETH{{order.payload.val().payment.value}}</span>
				<span class="value" *ngIf="order.payload.val().payment.currency === 'LTC'">LTC{{order.payload.val().payment.value}}</span>
			</div>
			
			<!--
				<div class="row1">
					
					<span>{{order.payload.val().dateCreated | date: 'shortDate'}}</span>

					<span>{{order.payload.val().status}}</span>

					<button class="btn print-shipping-label" (click)="printShippingLabel();">Print Shipping Label</button>
				</div>

				
				<div class="row2" *ngFor="let orderItem of order.payload.val().orderItems">
					<img [src]="orderItem.imageUrl">

					<span class="order-name">{{orderItem.name}}</span>

					<span class="item-price">${{orderItem.price}}</span>
				</div>

				<div class="payment-method">
					<span id="text">Total Value</span>
					
					<span class="value" *ngIf="order.payload.val().payment.currency === 'USD'">${{order.payload.val().payment.value}}</span>
					<span class="value" *ngIf="order.payload.val().payment.currency === 'BTC'">BTC{{order.payload.val().payment.value}}</span>
					<span class="value" *ngIf="order.payload.val().payment.currency === 'ETH'">ETH{{order.payload.val().payment.value}}</span>
					<span class="value" *ngIf="order.payload.val().payment.currency === 'LTC'">LTC{{order.payload.val().payment.value}}</span>
				</div>
			-->

		</div>
	</div>

	<ng-template #loading>
		<p>You currently have no existing orders, to create one head to the selling page</p>
	</ng-template>

</div>