.orders-component{
    margin: 0px;
    background-color: #fff;
    padding: 40px 80px;

    .orders{
	    display: flex;
	    flex-direction: column;
	    padding-bottom: 100px;
    }

	.order-container{
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	    background-color: #e9ebee;
	    padding: 10px 20px;
	    cursor: pointer;
	    margin-bottom: 10px;
	}
	
	.order-info-container{
		display: flex;
		flex-direction: column;

		.order-name{
			color: #0076a3;
			font-weight: bold;
		}

		div{
			display: flex;
			flex-direction: column;
		}

		#text{
			color: #4C4C45;
			font-weight: 600;
		}

		#value{
			color: #0076a3;
		}

		.btn{
			color: #ffffff;
			background-color: #0076a3;
			width: 250px;
			cursor: pointer;
		}
	}
}