.admin-orders{
	.orders{
		margin-top: 30px;
    	list-style: none;

    	.order-info{
    	    background-color: #ebebeb;
    		padding: 10px;
    		margin-bottom: 10px;

    		.row1, .order-details{
    		    display: flex;
    			justify-content: space-between;
    			align-items: center;
    		}
    	}
	}
}