.admin-orders{
	.filters{
        padding-left: 40px;
        display: flex;
        flex-direction: column;

        md-select{
            align-self: flex-start;
            padding-top: 0px;
        }
    }

    .orders{
		margin-top: 30px;
    	list-style: none;

    	.order-info{
    	    background-color: #ebebeb;
    		padding: 10px;
    		margin-bottom: 10px;
            cursor: pointer;

            .order-items-header{
                font-size: 20px;
            }

    		.row1, .order-details{
    		    display: flex;
    			justify-content: space-between;
    			align-items: center;
    		}

            .row2{
                margin-top: 10px;

                img{
                    height: 50px;
                }
            }

            .user-info{
                display: flex;
                justify-content: space-between;
                padding: 10px;

                .btn{
                    align-self: center;
                    background-color: #176799;
                    color: #fff;
                    cursor: pointer;
                }

                .delete{
                    background-color: red;
                }
            }
    	}
	}
}