<div class="add-product">
	<div class="con">

		<form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value);">
			<nav class="nav">
				<!--
			  <a class="nav-link" [class.active]="productType === 'dvd'" (click)="setType('dvd')">DVDs, Blu-Rays, CDs</a>
				-->
			  <a class="nav-link" [class.active]="productType === 'cell-phone'" (click)="setType('cell-phone')">Cell Phones</a>
			  <a class="nav-link" [class.active]="productType === 'electronics'" (click)="setType('electronics')">Electronics</a>
			</nav>

			<div class="search-container">
				<span class="help-text" *ngIf="productType === 'dvd'">To start selling, just enter a barcode (e.g 1234667890123) without spaces or dashes into the box below</span>

				<span class="help-text" *ngIf="productType === 'cell-phone' || productType === 'electronics'">To start selling, just enter product name without spaces or dashes into the box below</span>

				<input type="text" name="search" id="search" placeholder="Enter Barcode, Product Name or UPC" [formControl]="searchForm.controls['search']"
				(keyup)="nameFilter.next($event.target.value)"  autocomplete="off">
			
			
				<ul [hidden]="searchForm.controls['search'].pristine" *ngIf="items | async; let prods" class="results">
					<li *ngFor="let result of prods" (click)="searchByClick(result.name)">
						{{result.name}}
						<!--
							<i *ngIf="result.condition">(Condition: {{result.condition}})</i>
						-->
					</li>
				</ul>
			
			<!--
				<ul>
					<h3>DB Items</h3>
					<li *ngFor="let item of items | async">
						{{item.name}}
					</li>
				</ul>
			-->

				<a class="help-link">Need Help?</a>

				<a class="btn search-btn" (click)="onSubmit(searchForm.value);"  [class.disabled]="productType === 'empty'">SEARCH</a>
			</div>

		</form>

		<div class="row">
			<md-spinner *ngIf="searching"></md-spinner>
		</div>
	</div>

	<div class="product-info row" *ngIf="search_complete && items | async; let products">
			
		<div class="product" *ngFor="let prod of products">
			<div class="col-12 col-md-4 image-container">
				<img [src]="prod.imageUrl">
			</div>

			<div class="product-details col-12 col-md-8">
				<h5 class="product-name">{{prod.name}}</h5>

				<div class="carrier-container" *ngIf="productType == 'cell-phone'">
					<span class="condition-text">Please select carrier</span>

					<md-radio-group [(ngModel)]="prod.carrier">
						<md-radio-button class="carrier-value" value="unlocked" (click)="filterByCarrier('unlocked')">UNLOCKED</md-radio-button>
						<md-radio-button class="carrier-value" value="at&t" (click)="filterByCarrier('at&t')">AT&T</md-radio-button>
						<md-radio-button class="carrier-value" value="sprint" (click)="filterByCarrier('sprint')">SPRINT</md-radio-button>
						<md-radio-button class="carrier-value" value="t-mobile" (click)="filterByCarrier('t-mobile')">T-MOBILE</md-radio-button>
						<md-radio-button class="carrier-value" value="verizon" (click)="filterByCarrier('verizon')">VERIZON</md-radio-button>
						<md-radio-button class="carrier-value" value="other" (click)="filterByCarrier('other')">OTHER</md-radio-button>
					</md-radio-group>
				</div>
				
				<div class="condition-container" *ngIf="productType != 'dvd'">
					<span class="condition-text">Please select item condition</span>

					<md-radio-group class="condition" [(ngModel)]="prod.condition">
						<md-radio-button class="value" [ngClass]="{'electronic-radio-value': productType == 'electronics'}" value="new" (click)="searchCondition(prod, 'new')">New</md-radio-button>		
						<md-radio-button class="value" [ngClass]="{'electronic-radio-value': productType == 'electronics'}" value="good" (click)="searchCondition(prod, 'good')">Good</md-radio-button>		
						<md-radio-button class="value" value="poor" (click)="searchCondition(prod, 'poor')" *ngIf="productType == 'cell-phone'">Poor</md-radio-button>		
					</md-radio-group>

				 <!-- Description section starts -->
					<div class="condition-description">
						<div class="good" *ngIf="prod.condition === 'new'">
							<span class="sec-header">New</span>

							<ul>
								<li>Brand new</li>
								<li>Sealed in box</li>
								<li>Not used</li>
								<li>Complete with all components</li>
								<li>No defects</li>
								<li>Fully functional and complete with working system software</li>
								<li>No damage</li>
								<li>Not being financed by the carrier</li>
								<li>Set to factory settings</li>
							</ul>
						</div>

						<div class="poor" *ngIf="prod.condition === 'good'">
							<span class="sec-header">Good</span>
							
							<ul>
								<li>Fully functional and complete with working system software</li>
								<li>Turns on and off with working LCD</li>
								<li>All buttons work </li>
								<li>All features work, such as touchscreen, Wi-Fi, camera, video, etc. </li>
								<li>Complete with back cover and battery </li>
								<li>No more than light wear and tear</li>
								<li>No cracks, dents, water damage or damage to the screen</li>
								<li>Be removed from all tracking services such as Find My iPhone (not activation locked) </li>
								<li>Be removed from your online account (iCloud)</li>
								<li>Not being financed by the carrier </li>
								<li>It is recommended that the phone is reset to factory settings, but at a minimum, the password must be removed</li>
								<li>No water damage</li>
								<li>All ports work </li>
								<li>Charges properly</li>
							</ul>
						</div>

						<div class="faulty" *ngIf="prod.condition === 'poor'">
							<span class="sec-header">Poor</span>

							<ul>
								<li>Fully functional and complete with working system software</li>
								<li>Turns on and off with working LCD</li>
								<li>All buttons work </li>
								<li>All features work, such as touchscreen, Wi-Fi, camera, video, etc. </li>
								<li>Complete with back cover and battery </li>
								<li>Be removed from all tracking services such as Find My iPhone (not activation locked)</li>
								<li>Be removed from your online account (iCloud</li>
								<li>Medium to heavy wear and tear (scratches). No large dents. 
								Potentially could have a cracked screen </li>
								<li>Not being financed by the carrier </li>
								<li>It is recommended that the phone is reset to factory settings, but at a minimum, the password must be removed</li>
								<li>No water damage</li>
								<li>All ports must work </li>
								<li>Charges properly </li>
							</ul>
						</div>
					</div>
				 <!-- Description section ends --> 
				</div>

				<div *ngIf="payoutPrice">
					<span>We'll pay you: </span> <span class="payout">${{ payoutPrice }}</span>
				</div>

				<button class="btn add-to-cart" [disabled]="!prod.condition" (click)="addToCart(prod)">ADD TO CART</button>
			</div>
		</div>

		<div *ngIf="products.length == 0" class="no_results">
			No products meet your search criteria, please review your search or try another

			<button class="btn" (click)="clearFilter();">Show All Products</button>
		</div>
	</div>
</div>

<router-outlet></router-outlet>
