.add-product{
	text-align: center;

	.con{
		
		background-color: #2076a2;
		padding: 50px;

		.nav{
			border: 1px solid #cccccc;
    		border-radius: 5px;
    		margin-bottom: -2px;
    		display: flex;
    		justify-content: space-around;
    		background-color: #fafafb;

    		.nav-link{
				color: #515655;
				cursor: pointer;
				width: 50%;
				font-weight: bold;
			}

			.nav-link.active{
				color: #ffffff;
				background-color: #7c7c7c;
				font-weight: 700;
			}
		}
		
		.search-container{
			border: 1px solid #cccccc;
			display: flex;
			padding: 50px;
    		flex-direction: column;
    		margin-bottom: 40px;
    		border-radius: 3px;
    		background-color: #fff;

    		.help-text, .help-link{
    		    font-weight: bold;
			    font-size: 14px;
    		}

    		.help-text{
    			margin-bottom: 20px;
     			color: #666;
     			font-size: 1.125em;
    		}

    		input{
    		    text-align: center;
    		}

    		.help-link{
    			margin-top: 15px;
    			cursor: pointer;
    			color: #00a0ff;
    		}

    		.results{
    			list-style: none;
			    padding-left: 0px;
			    border: 1px solid #ccc;

    			li{
    			    padding: 5px;
    				border-bottom: 1px solid #2076a1;
    				cursor: pointer;
    			}

    			li:last-child{
    				border-bottom: none;
    			}
    		}
    	}

		.search-btn{
			width: 200px;
			margin: 0px auto;
			color: #ffffff;
			background-color: #00a651;
			border-radius: 8px;
			cursor: pointer;
			margin-top: 20px;
			margin-bottom: 0px;
			font-weight: 600;
    		font-size: 1.125em;
		}
	}

	.product-info{
		justify-content: center;
	    padding-bottom: 50px;
	    padding-top: 50px;
		background-color: #fff;

		.product{
			display: flex;

			.image-container{
				img{
					width: 100%;
				}
			}

			.product-details{
				text-align: left;

				.product-name{
					color: #0076a3;
				}

				.condition{
					display: inline-flex;
				    justify-content: space-between;
				    width: 80%;
				    margin-top: 15px;
				    margin-bottom: 15px;

					.value{
						cursor: pointer;
						border: 1px solid #cccccc;
					    padding: 10px 15px 5px;
					    border-radius: 10px;
					    width: 30%;
					}
				}

				.condition-description div{
					width: 500px;
				}

				.sec-header{
				    font-weight: bold;
    				color: #0076a3;
				}

				.payout{
					color: #0076a3;
				}

				.add-to-cart{
					color: #ffffff;
					background-color: #00a651;
					cursor: pointer;
					margin-top: 15px;
				}
			}
		}
	}

	.steps{
		display: flex;
		flex-direction: column;
		border-top: 7px solid rgb(234,185,47);
		border-bottom: 7px solid rgb(234,185,47);
		background-color: #fff;

		span{
			font-weight: 600;
			margin: 50px 120px 0px 182px;
			font-size: larger;
		}

		img{
			width: 75%;
			margin: 0 auto;
			margin-bottom: 70px;
		}
	}
}