<div class="add-product">
	<div class="con">

		<form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value);">
			<nav class="nav">
			  <a class="nav-link" [class.active]="productType === 'dvd'" (click)="setType('dvd')">DVDs, Blu-Rays, CDs</a>
			  <a class="nav-link" [class.active]="productType === 'cell-phone'" (click)="setType('cell-phone')">Cell Phones</a>
			  <a class="nav-link" [class.active]="productType === 'electronics'" (click)="setType('electronics')">Electronics</a>
			</nav>

			<div class="search-container">
				<span class="help-text">To start selling, just enter a barcode (e.g 1234667890123) without spaces or dashes into the box below</span>

				<input type="text" name="search" id="search" placeholder="Enter Barcode, Product Name or UPC" autocomplete="off" (keyup)="colorFilter$.next(null);sizeFilter$.next($event.target.value)" [formControl]="searchForm.controls['search']">
			
				<ul [hidden]="searchForm.controls['search'].pristine" *ngIf="product | async; let prods" class="results">
					<li *ngFor="let result of prods | slice:0:9" (click)="searchByClick(result.id, result.condition)">{{result.id}}<i *ngIf="result.condition">(Condition: {{result.condition}})</i></li>
				</ul>
			

				<a class="help-link">Need Help?</a>

				<a class="btn search-btn" (click)="onSubmit(searchForm.value);"  [class.disabled]="productType === 'empty'">SEARCH</a>
			</div>

		</form>

		<div class="row">
			<md-spinner *ngIf="searching"></md-spinner>
		</div>
	</div>

	<div class="product-info row" *ngIf="product | async; let products">
			
		<div class="product" *ngFor="let prod of products">
			<div class="col-12 col-md-4 image-container" *ngIf="product && products.length == 1">
				<img [src]="prod.imageUrl">
			</div>

			<div class="product-details col-12 col-md-8" *ngIf="product && products.length == 1">
				<h5 class="product-name">{{prod.id}}</h5>
				
				<div class="condition-container" *ngIf="productType != 'dvd'">
					<span class="condition-text">Please select item condition</span>

					<md-radio-group class="condition" [(ngModel)]="prod.condition">
						<md-radio-button class="value" value="good" (click)="searchCondition('good')">Good</md-radio-button>		
						<md-radio-button class="value" value="poor" (click)="searchCondition('poor')">Poor</md-radio-button>		
						<md-radio-button class="value" value="faulty" (click)="searchCondition('faulty')">Faulty</md-radio-button>		
					</md-radio-group>

					<div class="condition-description">
						<div class="good" *ngIf="prod.condition === 'good'">
							<span class="sec-header">Don’t have a charger, accessories or the original box? Don’t worry: we’ll still buy your phone and the price won’t be affected!</span>

							<ul>
								<li>Fully functional and complete with working system software</li>
								<li>Turns on and off with working LCD</li>
								<li>All buttons work</li>
								<li>All features work e.g. touchscreen, Wi-Fi, camera, video etc</li>
								<li>Complete with back cover and battery</li>
								<li>No more than light wear and tear, no cracks, water damage or damage to screen</li>
							</ul>
						</div>

						<div class="poor" *ngIf="prod.condition === 'poor'">
							<span class="sec-header">3 or more of the below faults render it Faulty</span>
							
							<ul>
								<li>Fully functional - all parts inc. system software</li>
								<li>Heavy wear and tear / scratches</li>
								<li>Liquid damage indicator triggered</li>
							</ul>
						</div>

						<div class="faulty" *ngIf="prod.condition === 'faulty'">
							<span class="sec-header">Each device should:</span>

							<ul>
								<li>Include its battery</li>
								<li>Be intact - not bent, crushed or snapped in half</li>
								<li>Not have any missing parts or components</li>
								<li>Be removed from Find My iPhone (not activation locked)</li>
								<li>Examples of faulty phones: Broken / bleeding LCD, water damaged, no power up, blank LCD etc.</li>
							</ul>
						</div>
					</div>
				</div>
				<div>
					<span>We'll pay you: </span> <span class="payout">${{ prod.price }}</span>
				</div>

				<button class="btn add-to-cart" (click)="addToCart(prod)">ADD TO CART</button>
			</div>
		</div>

		<div *ngIf="products.length == 0">
			No products meet your search criteria, please review your search or try another
		</div>
	</div>

	<!-- 
	<div class="steps" *ngIf="!product && !searching">
		<span>4 Easy Steps</span>

		<img src="assets/steps.png">
	</div>
  	-->
</div>

<router-outlet></router-outlet>
