<div class="container order-component">
	<div class="shopping-cart">

		<div class="item-list">
			<!-- Repeat these items below -->
			 
				<div class="item" *ngFor="let item of cartItems">
					<div class="item-info">
						<span>{{item.id}} <i *ngIf="item.condition">(Condition: {{item.condition}})</i></span>
						<span>${{item.price}}</span>
					</div>

					<i class="fa fa-times fa-lg" aria-hidden="true" (click)="remove(item)"></i>

				</div>
			

			<!--
				<div *ngFor="let item of cartItems">{{item}}</div>
			-->
		</div>

		<div class="total-value-container">
			Total Value <span class="total-value">${{itemPrice}}</span>
		</div>

	</div>

	<div class="payment-method">
		<span class="text" id="text">Pay me with</span>

		<div class="getting-rates" *ngIf="!rates">
			<md-spinner></md-spinner>
		</div>

		<md-radio-group class="payment-options" [(ngModel)]="currency" *ngIf="rates">
			<div class="cash">
				<div class="amount-div">
					<md-radio-button value="USD" name="currency">${{itemPrice}}</md-radio-button>
				</div>

				<span id="text">Cash</span>
			</div>

			<div class="bitcoin">
				<div class="amount-div">
					<md-radio-button value="BTC">BTC {{ itemPrice * rates.BTC }}</md-radio-button>
				</div>

				<span id="text">Bitcoin</span>
			</div>

			<div class="litecoin">
				<div class="amount-div">
					<md-radio-button value="LTC">LTC {{ itemPrice * rates.LTC }}</md-radio-button>
				</div>

				<span id="text">Litecoin</span>
			</div>

			<div class="ethereum">
				<div class="amount-div">
					<md-radio-button value="ETH">ETH {{ itemPrice * rates.ETH }}</md-radio-button>
				</div>

				<span id="text">Ethereum</span>
			</div>
		</md-radio-group>

		<div class="error-message">
			<div *ngIf="itemPrice < 5">
				Please note that we cannot process orders less than $5
			</div>

			<div *ngIf="!currency">
				Please select payment method
			</div>
		</div>

		<button class="btn" [disabled]="itemPrice < 5 || !currency" (click)="createOrder()">Place Order</button>
	</div>

</div>
