<div class="container order-component">
	<div class="shopping-cart">

		<div class="item-list">
			<!-- Repeat these items below -->
			 
				<div class="item" *ngFor="let item of cartItems">
					<div class="item-info">
						<span>{{item.name}} <i *ngIf="item.condition">(Condition: {{item.condition}})</i></span>
						<span>${{item.price}}</span>
					</div>

					<i class="fa fa-times fa-lg" aria-hidden="true" (click)="remove(item)"></i>

				</div>
			

			<!--
				<div *ngFor="let item of cartItems">{{item}}</div>
			-->
		</div>

		<div class="total-value-container">
			Total Value <span class="total-value">${{itemPrice}}</span>
		</div>

	</div>

	<div class="payment-method">
		<span class="text" id="text">Pay me with</span>

		<div class="getting-rates" *ngIf="!rates">
			<md-spinner></md-spinner>
		</div>

		<md-radio-group class="payment-options" [(ngModel)]="currency" *ngIf="rates">
			<div class="cash">
				<div class="amount-div" (click)="changePaymentStatus()">
					<md-radio-button value="USD" name="currency">${{itemPrice}}</md-radio-button>
				</div>

				<span id="text">Cash</span>
			</div>

			<div class="bitcoin">
				<div class="amount-div" (click)="changePaymentStatus()">
					<md-radio-button value="BTC">BTC {{ itemPrice * rates.BTC }}</md-radio-button>
				</div>

				<span id="text">Bitcoin</span>
			</div>

			<div class="litecoin">
				<div class="amount-div" (click)="changePaymentStatus()">
					<md-radio-button value="LTC">LTC {{ itemPrice * rates.LTC | number }}</md-radio-button>
				</div>

				<span id="text">Litecoin</span>
			</div>

			<div class="ethereum">
				<div class="amount-div" (click)="changePaymentStatus()">
					<md-radio-button value="ETH">ETH {{ itemPrice * rates.ETH | number }}</md-radio-button>
				</div>

				<span id="text">Ethereum</span>
			</div>
		</md-radio-group>

		<div class="error-message">
			<div *ngIf="itemPrice < 5">
				We can only process orders with a total value of at least $5
			</div>

			<div *ngIf="!currency">
				Please select payment method
			</div>
		</div>

		<div>
			<md-spinner *ngIf="checkingPayments == true"></md-spinner>
		</div>

		<div *ngIf="paymentDoesNotExist" class="payment-update-div">
			<p>Selected payment address does not exist, either enter it below or select another method</p>

			<div>
				<!-- Show this when currency isn't cash -->
				<div class="edit-payment-input-container" *ngIf="currency !== 'USD'">

					<!-- Show different input for payment types -->
					
						<!-- Show for BTC -->
						<span *ngIf="currency == 'BTC'">
							<input type="string" name="payment" placeholder="Enter Bitcoin Wallet Address" [(ngModel)]="val">
							<button class="btn" (click)="updatePayment(currency, val);">Update Payment</button>
						</span>

						<!-- Show for LTC -->
						<span *ngIf="currency == 'LTC'">
							<input type="string" name="payment" placeholder="Enter Litecoin Wallet Address" [(ngModel)]="val">
							<button class="btn" (click)="updatePayment(currency, val);">Update Payment</button>
						</span>

						<!-- Show for BTC -->
						<span *ngIf="currency == 'ETH'">
							<input type="string" name="payment" placeholder="Enter Ethereum Wallet Address" [(ngModel)]="val">
							<button class="btn" (click)="updatePayment(currency, val);">Update Payment</button>
						</span>
					<!-- Show different input for payment types ends-->
				</div>

				<!-- This is shown only when currency of payout is cash --> 
				<div class="cash-selected" *ngIf="currency == 'USD'">
					
					<!--
						<div class="form-group">
							<label>Do you have Paypal?</label>

							<span class="options">
								
								<md-radio-group [(ngModel)]="paypalExists">
									<md-radio-button value="yes">Yes</md-radio-button>
									<md-radio-button value="no">No</md-radio-button>
								</md-radio-group>
							</span>
						</div>
					-->

					<!-- If user selects paypal above --> 
					<div class="paypal-update">
						<input type="string" name="paypalEmail" placeholder="Enter Paypal Email Address" [(ngModel)]="paypalEmail">
						<button class="btn" (click)="updatePayment(currency, paypalEmail);">Update Payment</button>
					</div>

					<!-- If user doesn't have paypal -->
					<!--	
						<div class="banking-info" *ngIf="paypalExists == 'no'">
							
							<div class="form-group two-col-container">
								<span class="two-col">
									<label>First</label>
									<input type="text" name="firstName" [(ngModel)]="bankingInfo.firstName">
								</span>

								<span class="two-col">
									<label>Last</label>
									<input type="text" name="lastName" [(ngModel)]="bankingInfo.lastName">
								</span>
							</div>

							<div class="form-group">
								<label>Bank</label>
								<input type="text" name="bank" [(ngModel)]="bankingInfo.bank">
							</div>

							<div class="form-group two-col-container">
								<span class="two-col">
									<label>Routing Number</label>
									<input type="string" name="routingNumber" [(ngModel)]="bankingInfo.routingNumber">
								</span>

								<span class="two-col">
									<label>Account Number</label>
									<input type="string" name="accountNumber" [(ngModel)]="bankingInfo.accountNumber">
								</span>
							</div>

							<button class="btn" (click)="updateBankingInfo(bankingInfo)">Update Banking Info</button>
						</div>
					-->
				</div>
			</div>
		</div>

		<button *ngIf="!paymentDoesNotExist" class="btn" [disabled]="itemPrice < 5 || !currency" (click)="createOrder()">Place Order</button>
	</div>

</div>
