.order-component{
	margin-top: 50px;

	.shopping-cart{

		.item-list{
			border-bottom: 1px solid #9f9793;

			.item{
			    display: flex;
    			justify-content: space-between;
			
    			.item-info{
    			    display: flex;
				    width: 100%;
				    justify-content: space-between;
    			}

    			.fa{
    			    padding: 5px;
    				margin-left: 15px;
    				cursor: pointer;
    			}
			}
		}

		.total-value-container{
		    display: flex;
		    justify-content: flex-end;
		    align-items: center;
		    margin-top: 10px;

		    .total-value{
		        margin-left: 15px;
			    padding: 5px 20px;
			    background-color: #0076a3;
			    color: #ffffff;
			    border-radius: 6px;
		    }
		}
	}

	.payment-method{
		display: flex;
	    flex-direction: column;

	    #text{
	    	font-weight: bold;
	    }

	    .getting-rates{
	    	text-align: center;
	    }

	    .payment-options{
	    	display: flex;

	    	.amount-div{
	    		padding-bottom: 0px;
	    	}
	    }

	    .error-message{
	    	text-align: center;
	    	padding-top: 20px;
	    }

	    .btn{
	    	color: #ffffff;
	    	background-color: #0076a3;
	    	margin: 30px auto;
	    	width: 200px;
	    }
	}
}

@media screen and (min-width: 768px){
	.payment-options{
		width: 60%;
    	justify-content: space-between;

    	div{
    		text-align: center;
    		margin: 0 5px;

	    	.amount-div{
	    		border: 1px solid grey;
	    		border-radius: 5px;
	    		padding: 5px 10px;
	    		cursor: pointer;
	    	}
	    }
	}

	.payment-method{
		.btn{
			width: 200px;
			margin: 50px auto;
		}
	}
}