<div class="about-component">
	
	<div class="container">
		
		<h1>About Us</h1>

		<p>
			We are the first goods-to- cryptocurrency exchange in the world! We want to help people obtain
			crypto-currencies by selling their electronics and cell phones to us. Getting paid with US dollars
			is another option that we offer people as well. Providing a valuable service is our main goal.
			Customer service is also very important to us.
		</p>

		<p>
			DigiPawnNow is kind of like an online pawn shop except we don’t make loans to people
			because we think that pawn shops charge too much interest on the loans that they make to their
			customers. We only buy items from people in exchange for US dollars, Bitcoin, Ethereum or
			Litecoin. The prices that we offer people for their electronics are also typically higher than what
			pawn shops will offer for the same items.
		</p>

		<p>
			Our founders are experts in the electronics and crypto-currency markets. We promise to provide
			an excellent experience to our customers. Please try out our service today and obtain digital
			gold aka crypto-currency for your electronics!
		</p>

	</div>
</div>