<div class="admin">
	<div class="side-bar">
		<nav>
			<a routerLink="/admin/orders">ORDERS</a>
			<a routerLink="/admin/payments">PAYMENTS</a>
			<a routerLink="/admin/messages">MESSAGES</a>
			<a routerLink="/admin/database">DATABASE</a>
		</nav>
	</div>

	<button md-button [matMenuTriggerFor]="menu">test
		<!--
		<span>admin</span>
		<i class="fa fa-user" aria-hidden="true"></i>
	-->
	</button>

	<md-menu #menu="matMenu">
	  <button mat-menu-item>Log out</button>
	</md-menu>

	<router-outlet></router-outlet>	
</div>