.admin{
	background-color: #fff;

	.admin-side-nav{
		width: 200px;
	    background-color: #006699;
	    align-items: center;
	    position: fixed;
    	left: 0;
    	z-index: 2;
	    padding-top: 40px;
	    visibility: hidden;
	    
	    .nav-link{
	    	color: #fff;
	    	cursor: pointer;
	    	font-weight: 200;
	    }
	}

	.header{
		background-color: #ebebeb;
		display: flex;
    	justify-content: space-between;
    	position: fixed;
    	top: 0;
    	width: 100vw;

    	span{
			padding: 10px;
    		margin-right: 20px;
    		cursor: pointer;
    	}

    	.fa{
    	    padding-left: 20px;
    		padding-top: 7px;
    	}
	}

	.dynamic{
		padding: 50px 50px;
		height: 100vh;
	}

}


@media (min-width: 768px) {
	.admin-side-nav{
		visibility: visible !important;
		height: 100vh;
	}

	.dynamic{
		margin-left: 200px;
	}

	.sidenav-toggle{
		visibility: hidden;
	}

	.header{
		justify-content: flex-end;

		span{
			margin-right: 40px;
		}
	}
}