<app-header></app-header>
<div class="authenticate-component">
	<div class="container">

		<div class="auth-header">
			<span [ngClass]="{'active': signup}" (click)="signup = !signup">SIGN-UP</span>
			<span [ngClass]="{'active': !signup}" (click)="signup = !signup">LOGIN</span>
		</div>

		<div class="auth-forms">
		  	<!-- New User sign up form -->
			<form class="newUser" *ngIf="signup && !forgotPassword" #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm.value);">

				<div class="form-group name">
					<span id="two-col">
						<label>First Name</label>
						<input type="text" name="firstName" ngModel required>
					</span>

					<span id="two-col">
						<label>Last Name</label>
						<input type="text" name="lastName" ngModel required>
					</span>
				</div>

				<div class="form-group address">
					<span id="two-col">
						<label>Street Address</label>
						<input type="text" name="streetAddress" ngModel required>
					</span>

					<span id="two-col">
						<label>Apt/Suite Number</label>
						<input type="text" name="unit" ngModel>
					</span>
				</div>

				<div class="form-group address">
					<span>
						<label>City</label>
						<input type="text" name="city" ngModel required>
					</span>

					<span>
						<label>State</label>
						<input type="text" name="state" ngModel required>
					</span>

					<span>
						<label>Zip Code</label>
						<input type="text" name="zip" ngModel required>
					</span>
				</div>

				<div class="form-group">
					<span id="two-col">
						<label>D.O.B</label>
						<input type="date" name="dateOfBirth" placeholder="D.O.B" ngModel required>
					</span>

					<span id="two-col">
						<label>Gender</label>
						<input type="text" name="gender" ngModel required>
					</span>
				</div>

				<div class="form-group single-col">
					<label>Phone #</label>
					<input type="tel" name="phoneNumber" ngModel required>
				</div>

				<div class="form-group single-col">
					<label>Email</label>
					<input type="email" name="email" ngModel required>
				</div>

				<div class="password">
					<div class="form-group">
						<span id="two-col">
							<label>Password</label>
							<input type="password" name="password" ngModel required #password="ngModel">
						</span>
						
						<span id="two-col">
							<label>Confirm password</label>
							<input type="password" name="confirmPassword" ngModel required #confirmPassword="ngModel">
						</span>
					</div>

					<div class="alert alert-danger" *ngIf="password.dirty && confirmPassword.dirty && signUpForm.form.value.password !== signUpForm.form.value.confirmPassword">
						Passwords Don't Match
					</div>
				</div>

				<button class="btn" type="submit" [disabled]="!signUpForm.form.valid || signUpForm.form.value.password !== signUpForm.form.value.confirmPassword">SIGN UP</button>

				<div class="terms-and-condition">
					<input type="checkbox" name="termsAndCondition" ngModel required>
					<label>
						By Signing up you agree with our <a routerLink="/home/terms-and-condition">Terms & Conditions</a> and <a routerLink="/home/privacy-policy">Privacy Policy</a>
					</label>
				</div>
				

			</form>


			<!-- Login form starts -->
			<form class="login" *ngIf="!signup && !forgotPassword" #loginForm="ngForm" (ngSubmit)="login(loginForm.value);">

				<div class="form-group">
					<span>
						<label>Email</label>
						<input type="email" name="email" ngModel>	
					</span>
				</div>

				<div class="form-group">
					<span>
						<label>Password</label>
						<input type="password" name="password" placeholder="Password" ngModel>
					</span>
				</div>

				<a class="forgotPassword" (click)="forgotPassword = true">Forgot password?</a>

				<br />

				<button class="btn" type="submit">Login</button>

		<!-- Please delete afterwards, testing purposes only -->

				<br />

			</form>
			<!-- Login form ends -->

			<!-- Forgot password form -->
			<form class="forgot-password-form" *ngIf="forgotPassword" #passwordResetForm="ngForm" (ngSubmit)="resetPassword(passwordResetForm.value);">

				<h3>Password Reset</h3>

				<div class="form-group">
					<input type="email" name="email" placeholder="Enter email" ngModel>
				</div>

				<button class="btn" (click)="forgotPassword=!forgotPassword">Cancel</button>
				<button class="btn" type="submit">Reset Password</button>
			</form>
			<!-- forgot password form ends -->
		</div>
	</div>
</div>
<app-footer></app-footer>