.authenticate-component{
	text-align: center;
	margin-bottom: 180px;
	
	.container{
		padding-top: 60px;
    	padding-bottom: 60px;
	}

	.toggleAuth, .forgotPassword{
		color: #007bff;
		cursor: pointer;
	}

	.btn{
		margin-top: 5px;
		margin-bottom: 5px;
		background-color: #0076a3;
	    color: #ffffff;
	    width: 50%;
	    cursor: pointer;
	}

	.auth-header{
	    display: flex;
	    justify-content: space-around;

	    .active{
	    	color: #ffffff;
			background-color: #0076a3;
	    }

	    span{
	    	width: 50%;
		    padding: 5px;
		    border: 1px solid black;
		    background-color: rgba(236, 235, 236, 1);
		    cursor: pointer;
	    }
	}

	.auth-forms{
	    border: 1px solid grey;
	    padding: 20px;
	    background-color: #fff;

	    .form-group{
	    	display: flex;
	    	justify-content: space-between;

	    	span{
	    	    display: flex;
			    flex-direction: column;
			    text-align: start;
	    	}

	    	span#two-col{
	    		width: 48%;
	    	}
	    }

	    .form-group.single-col {
		    flex-direction: column;
		    text-align: start;
		}

		.login{
			.form-group{
				span{
				    margin: 0 auto;
    				width: 300px;
				}
			}
		}

		.forgot-password-form{
			input{
				margin: 0 auto;
				text-align: center;
			}
		}

		.password{
			margin-bottom: 10px;

			.form-group{
				margin-bottom: 5px;
			}
		}

	}
}

@media only screen and (min-width: 768px){
	.auth-header,.auth-forms{
		margin-left: 20%;
	    margin-right: 20%;
	}
}