<div class="how_it_works_component">
	<div class="container">
		
		<h2>How It Works</h2>

		<div class="order_process">
			
			<span>Overview Of The Order Process</span>

			<ol>
				<li>Create your account</li>
				<li>Use our search bar to find your item</li>
				<li>Select your item and its condition</li>
				<li>Select how you want to be paid (US Dollars, Bitcoin, Ethereum or Litecoin)</li>
				<li>Place your order</li>
				<li>Within 24 hours of placing your order, you will receive an email from us with a free
				FedEx Ground shipping label</li>
				<li>Pack your item and drop it off at a FedEx location</li>
			</ol>
		</div>

		<div class="items_taken">
			<span>Items That We Take</span>

			<ul>
				<li>
					Cell phones, headphones, Apple watches, iPods, iPads, Kindles, MacBooks, iMacs and
					game consoles that can found in our search bar/database
				</li>
			</ul>
		</div>

		<div class="payment_process">
			<span>Payment Process</span>

			<ul>
				<li>
					After we receive your item(s), we will inspect the item(s) and then, issue a payment to
					you within two business days of when we physically receive your item(s)
				</li>
			</ul>
		</div>

		<div class="questions">
			<span>Questions</span>

			<ul>
				<li>
					If you have any questions, please contact us at (770) 380-0922,
					customerservice@digipawnnow.com or use the chat feature on our website
				</li>
			</ul>
		</div>
	</div>
</div>